<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Ultimate TestNG Suite"
       parallel="methods"
       thread-count="3">

    <!-- Global parameters -->
    <parameter name="initialBalance" value="1000"/>
    <parameter name="withdrawAmount" value="300"/>

    <!-- Listener -->
<!--    <listeners>-->
<!--        <listener class-name="BankAccountTestListener"/>-->
<!--    </listeners>-->

    <test name="Core Bank Account Tests">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="Happy-Path"/>-->
<!--                <include name="Sad-Path"/>-->
<!--            </run>-->
<!--        </groups>-->

        <classes>
            <class name="src.test.TestingEssentialsDemo"/>
        </classes>
    </test>
</suite>
